@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

/* ------------------------------Home--------------------------- */

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
  background-color: rgb(27, 27, 27);
  z-index: 2;
}

#menu-icon {
  display: none;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}

.navbar a {
  color: white;
  font-size: 1.8rem;
  transition: 1s;
  margin-right: 2rem;
}

.navbar{
  display: flex;
}


.navbar a:hover,
.navbar a.active {
  color: rgb(0, 183, 255);
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 19, 37);
  color: #fff;
  padding: 2rem 2rem;
}

.homeTexts {
  width: 90%;
  
}

.homeRightSide{
border: 2px solid white;
width: 50rem;
padding: 2% 2%;

}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin-top: 2rem;
}

span {
  color: rgb(0, 183, 255);
}

.socialmedia-logo a i {
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
  background: transparent;
  padding: 2rem 2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.socialmedia-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2rem;
}

.btnCv {
  margin-top: 3rem;
  margin-right: 8rem;
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 30px;
  background-color: rgb(0, 183, 255);
  box-shadow: 2px 2px 20px rgb(0, 183, 255);
  padding: 0.2rem 1rem;
  font-weight: 800;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
}

.home-img img {
  box-shadow: 5px 5px 30px black;
  width: 90%;
  height: auto;
}

/* ------------------------About--------------------------- */

.about {
  display: flex;
  padding: 15% 5% 4% 10%;
  gap: 10%;
  background-color: rgb(0, 27, 63);
  width: 100%;
  min-height: 100vh;
}

.aboutText {
  color: white;
  margin: auto;
  /* border: 2px solid white; */
}

.aboutText p {
  margin-top: 2rem;
  line-height: 2rem;
}

/* ------------------------Services--------------------------- */

.services {
  background-color: rgb(56, 56, 56);
  color: #fff;
  text-align: center;
  padding: 9% 1% 6% 6%;

  min-height: 100vh;
  margin: auto;
}

.ourservicesText h3 {
  font-size: 4rem;

  margin-right: 5rem;
}

.ourservices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 4rem;
  margin-right: 5rem;
}

.ourservices .box {
  background-color: rgb(0, 1, 68);
  border-radius: 2rem;
  padding: 4% 3%;
  transition: 200ms ease;
  width: 30%;
  height: 500px;
}

.ourservices .box:hover {
  border: 3px solid rgb(0, 183, 255);
  transform: scale(1.02);
}

.ourservices p {
  margin-bottom: 12%;
  font-size: 1rem;
}

.ourservices a {
  padding: 5% 5%;
}

.ourservices i {
  font-size: 3rem;
  color: rgb(0, 183, 255);
  margin-top: 6%;
}

/* -------------------------------portfolio--------------------------- */

.portfolio {
  background-color: rgb(34, 31, 53);
  padding: 8% 5% 5% 5%;
  min-height: 100vh;
}

.portfoliohead {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  color: #fff;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  gap: 0.1rem;
  padding: 1% 5%;
  margin-top: 2rem;
  /* margin-left: 1rem; */
  place-items: center;
}

.portfolio-container .Portfolio-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  width: 80%;
  height: 90%;
  font-size: 0.6rem;
  transition: 0.4s;
}

.Portfolio-box img {
  width: 100%;

  transition: 0.4s;
}
.Portfolio-box:hover img {
  transform: scale(1.1);
}

.Portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 500px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(23, 23, 54));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 3%;
  text-align: center;
  color: white;
  transition: 600ms ease;
}

.Portfolio-box:hover .portfolio-layer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(23, 23, 54));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 3%;
  text-align: center;
  color: white;
}

/* -------------------------------contact--------------------------- */

.contact {
  padding: 5% 4%;
  height: 100vh;
  background-color: rgb(7, 0, 32);
}

.contact h4 {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.inputs {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2% 2%;
  margin: auto;
  gap: 1rem;
  flex-direction: column;
  width: 40rem;
  height: 80%;
  padding: 2% 1%;
  border-radius: 10px;
}

.inputs input {
  padding: 2% 5%;
  height: 50px;
  border-radius: 10px;
}

form textarea {
  padding: 2% 5%;
  height: 12rem;
  border-radius: 10px;
  resize: none;
}

form {
  text-align: center;
}

.btn-input {
  margin-top: 10px;
  width: 20%;
}

footer {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  padding: 2% 2%;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 26, 26);
}
footer a i {
  border: 2px solid white;
  border-radius: 2em;
  padding: 5% 5%;
  font-size: 2em;
}

.portfolio-layer h2 {
  font-size: 3em;
}

.portfolio-layer p {
  font-size: 1.5em;
  margin: 1em 2em 0.5em;
  line-height: 2em;
}



@media (max-width: 375px) {
  .navbar a {
    display: none;
  }
 
.header{
  width: 100%;
  
 
  
}

html,body{
  overflow-x: hidden;
}

 

  #menu-icon {
    display:block;
    font-size: 3rem;
    color: #fff;
   margin-right: -8rem;
 
  }




  .home-img img {
    box-shadow: 5px 5px 30px black;
    width: 90%;
   
 
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 7rem 3rem;
    text-align: center;
   
   
    

  }
  .homeTexts {
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    width: 100%;
    color: yellow;
  }

  .homeRightSide {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
  }



.socialmedia-logo a i {
  color: rgb(0, 183, 255);
  border: 2px solid rgb(0, 183, 255);
  background: transparent;
  padding: 1.5rem 1.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}




.btnCv{
  margin: auto;
  margin-top: 2rem;
}




}


